# Intellij Idea project files
.idea

# Build config
webpack.config.js

# Compiler config
.babelrc

# Linter config
.eslintrc.js

# CI config
.travis.yml

# Test source
test

# Examples directory
examples